.home {
  padding: 0 15%;
  margin-bottom: 150px;
}
.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.custom-select {
  width: 200px;
  font-size: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 920px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
